@import "./../../_theme/colors.scss";

.footer {
  &__wrapper {
    background-color: $COLOR_DARK;
    border-top: 1px solid rgba($COLOR_ACTION, 0.5);
    bottom: 0;
    padding: 0.5rem;
    position: fixed;
    width: 100%;

    z-index: 3;

  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__paragraph {
    color: $COLOR_LIGHT;
    font-size: 0.8rem;
    opacity: 0.7;
    text-align: center;
    width: 100%;
  }

  &__link {
    text-decoration: none;
  }
}