.welcome__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100vh;

  &_header {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
  }

  &_indent {
    margin-top: 30vh;
    z-index: 2;
  }

  &_description {
    padding-right: 1em;
    position: relative;
    font-weight: 600;
    z-index: 2;

    &_indent {
      margin: 0 0 1em 63px;
      bottom: 0;
    }
  }
}

@media screen and (min-width: 1000px) {

  .welcome__content {
    display: block;
  }

  .welcome__content_header {
    margin: 0 auto;
    width: 960px;
  }

  .welcome__content_description {
    bottom: initial;
    margin: 0 auto;

    text-align: right;
    width: 960px;
  }
}