p {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  margin: $indent_regular 0;
}

.regular__paragraph {
  margin: 1rem auto;
  padding: 0 $indent_regular;
  color: #000;

  &_right {
    text-align: right;
  }

}

@media screen and (min-width: 481px) {
  .regular__paragraph {
    margin: 1.5rem auto;
  }
}

@media screen and (min-width: 769px) {
  .regular__paragraph {
    margin: 2rem auto;
  }
}