.screenshot__overlay {
  display: block;
  overflow: hidden;
  position: relative;
  flex-grow: 0;
}

.screenshot__overlay:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(11, 172, 172, 0.25) 100%);
}

.screenshot__img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
  // object-fit: scale-down;
  position: relative;
}

// @media screen and (min-width: 360px) {
//   .screenshot__overlay {
//     margin: 3%;
//     box-shadow: 0px 0px 10px 0px $sky;
//   }

//   .screenshot__overlay:after {
//     background: rgba(11, 172, 172, 0.05);
//   }
// }

// @media screen and (min-width: 768px) {
//   .screenshot__overlay {
//     margin-left: 6%;
//     margin-right: 6%;

//   }
// }

// @media screen and (min-width: 960px) {
//   .screenshot__overlay {
//     margin-left: 9%;
//     margin-right: 9%;

//   }
// }

// @media screen and (min-width: 1200px) {
//   .screenshot__overlay {
//     margin-left: 12%;
//     margin-right: 12%;
//   }
// }

// @media screen and (min-width: 1400px) {
//   .screenshot__overlay {
//     margin-left: 15%;
//     margin-right: 15%;
//   }
// }

// @media screen and (min-width: 1600px) {
//   .screenshot__overlay {
//     margin-left: 18%;
//     margin-right: 18%;
//   }
// }