@import "./../../../_theme/colors.scss";

.item__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  color: $COLOR_DARK;
  width: 100%;
}

// .item__author {
//   align-self: start;
// }

// .item__date {
//   align-self: flex-end;
// }