// palette
$sand: #e4dea2;


$wave: #0BACAC;

$sun: #f35e5e;
$sky: #0d4566;
$ice: #f8ffff;

// indents
$indent_regular: 0.7rem;
// $indent_regular_top: 0.7rem;
// $indent_regular_bottom: 0.7rem;
// $indent_regular_left: 0.7rem;
// $indent_regular_right: 0.7rem;