footer {
  background-color: $sky;
  border-top: 1px solid rgba($sand, 0.8);
}

.footer__wrapper {
  align-items: center;
  color: rgba($sand, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.6rem;

}

.footer__year {
  margin: 0;
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  color: rgba($sand, 0.9);
  text-decoration: underline;
}

.footer__thank-you {
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media screen and (min-width: 481px) {
  .footer__wrapper {

    flex-direction: row;

    padding: 0.6rem 0;
  }

  .footer__left {

    align-items: flex-start;
  }

  .footer__right {

    align-items: flex-end;
  }

  .footer__year {
    margin-right: 1rem;
  }
}

// @media screen and (min-width: 481px){
//   .footer__wrapper {
//     padding: 0.6rem 0.5;
//   }
// }